body {
  padding: 50px;
  font: 14px 'Libre Baskerville', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas #signature{
  border: 1px solid gray;
  border-radius: 5px;
  display: block;
}